[Desktop Entry]
Type=Application
Name=小U待办
Comment=Deepin/UOS todo notes
Exec=xiaou-todo
Icon=xiaou-todo
Terminal=false
Categories=Utility;
StartupNotify=true
