[Desktop Entry]
Type=Application
Name=小U待办
Comment=Deepin/UOS todo notes
Exec=xiaou-todo
Icon=/usr/share/icons/hicolor/scalable/apps/xiaou-todo.svg
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=xiaou-todo
